@font-face {
  font-family: 'TrajanProRegular';
  src: url('fonts/TrajanProRegular.eot');
  src: url('fonts/TrajanProRegular.eot?#iefix') format('embedded-opentype'),
       url('fonts/TrajanProRegular.woff') format('woff'),
       url('fonts/TrajanProRegular.ttf')  format('truetype')
}